//! **************************************************************************
// Written by: Map P.20131013 on Sun Feb 10 09:56:54 2019
//! **************************************************************************

SCHEMATIC START;
COMP "CPUclk" LOCATE = SITE "P129" LEVEL 1;
COMP "CPUram_we<0>" LOCATE = SITE "P141" LEVEL 1;
COMP "CPUram_we<1>" LOCATE = SITE "P143" LEVEL 1;
COMP "CPUram_we<2>" LOCATE = SITE "P138" LEVEL 1;
COMP "CPUram_we<3>" LOCATE = SITE "P139" LEVEL 1;
COMP "CPUram_we<4>" LOCATE = SITE "P134" LEVEL 1;
COMP "CPUram_we<5>" LOCATE = SITE "P135" LEVEL 1;
COMP "CPUram_we<6>" LOCATE = SITE "P130" LEVEL 1;
COMP "CPUram_we<7>" LOCATE = SITE "P132" LEVEL 1;
COMP "CPUram_wy<0>" LOCATE = SITE "P140" LEVEL 1;
COMP "CPUram_wy<1>" LOCATE = SITE "P142" LEVEL 1;
COMP "CPUram_wy<2>" LOCATE = SITE "P91" LEVEL 1;
COMP "CPUram_wy<3>" LOCATE = SITE "P131" LEVEL 1;
COMP "CPUram_wy<4>" LOCATE = SITE "P126" LEVEL 1;
COMP "CPUram_wy<5>" LOCATE = SITE "P127" LEVEL 1;
COMP "CPUram_wy<6>" LOCATE = SITE "P123" LEVEL 1;
COMP "CPUram_wy<7>" LOCATE = SITE "P125" LEVEL 1;
COMP "CPUram_a<0>" LOCATE = SITE "P110" LEVEL 1;
COMP "CPUram_a<1>" LOCATE = SITE "P111" LEVEL 1;
COMP "CPUram_a<2>" LOCATE = SITE "P112" LEVEL 1;
COMP "CPUram_a<3>" LOCATE = SITE "P113" LEVEL 1;
COMP "CPUram_a<4>" LOCATE = SITE "P114" LEVEL 1;
COMP "CPUram_a<5>" LOCATE = SITE "P115" LEVEL 1;
COMP "CPUram_a<6>" LOCATE = SITE "P116" LEVEL 1;
COMP "CPUram_a<7>" LOCATE = SITE "P117" LEVEL 1;
COMP "CPUrom_a<10>" LOCATE = SITE "P18" LEVEL 1;
COMP "CPUrom_db<0>" LOCATE = SITE "P10" LEVEL 1;
COMP "CPUrom_db<1>" LOCATE = SITE "P11" LEVEL 1;
COMP "CPUrom_db<2>" LOCATE = SITE "P7" LEVEL 1;
COMP "CPUrom_db<3>" LOCATE = SITE "P8" LEVEL 1;
COMP "CPUrom_db<4>" LOCATE = SITE "P3" LEVEL 1;
COMP "CPUrom_db<5>" LOCATE = SITE "P5" LEVEL 1;
COMP "CPUrom_db<6>" LOCATE = SITE "P4" LEVEL 1;
COMP "CPUrom_db<7>" LOCATE = SITE "P6" LEVEL 1;
COMP "CPUrom_ir<0>" LOCATE = SITE "P20" LEVEL 1;
COMP "CPUrom_ir<1>" LOCATE = SITE "P15" LEVEL 1;
COMP "CPUrom_ir<2>" LOCATE = SITE "P16" LEVEL 1;
COMP "CPUrom_ir<3>" LOCATE = SITE "P12" LEVEL 1;
COMP "CPUrom_ir<4>" LOCATE = SITE "P13" LEVEL 1;
COMP "CPUrom_a<0>" LOCATE = SITE "P31" LEVEL 1;
COMP "CPUrom_a<1>" LOCATE = SITE "P32" LEVEL 1;
COMP "CPUrom_a<2>" LOCATE = SITE "P28" LEVEL 1;
COMP "CPUrom_a<3>" LOCATE = SITE "P30" LEVEL 1;
COMP "CPUrom_a<4>" LOCATE = SITE "P27" LEVEL 1;
COMP "CPUrom_a<5>" LOCATE = SITE "P29" LEVEL 1;
COMP "CPUrom_a<6>" LOCATE = SITE "P24" LEVEL 1;
COMP "CPUrom_a<7>" LOCATE = SITE "P25" LEVEL 1;
COMP "CPUrom_a<8>" LOCATE = SITE "P19" LEVEL 1;
COMP "CPUrom_a<9>" LOCATE = SITE "P21" LEVEL 1;
COMP "CPUram_clk" LOCATE = SITE "P124" LEVEL 1;
COMP "CPUin<0>" LOCATE = SITE "P58" LEVEL 1;
COMP "CPUin<1>" LOCATE = SITE "P59" LEVEL 1;
COMP "CPUin<2>" LOCATE = SITE "P60" LEVEL 1;
COMP "CPUin<3>" LOCATE = SITE "P63" LEVEL 1;
COMP "CPUin<4>" LOCATE = SITE "P64" LEVEL 1;
COMP "CPUin<5>" LOCATE = SITE "P68" LEVEL 1;
COMP "CPUin<6>" LOCATE = SITE "P69" LEVEL 1;
COMP "CPUin<7>" LOCATE = SITE "P70" LEVEL 1;
COMP "CPUvga<0>" LOCATE = SITE "P103" LEVEL 1;
COMP "CPUvga<1>" LOCATE = SITE "P104" LEVEL 1;
COMP "CPUvga<2>" LOCATE = SITE "P105" LEVEL 1;
COMP "CPUvga<3>" LOCATE = SITE "P99" LEVEL 1;
COMP "CPUvga<4>" LOCATE = SITE "P101" LEVEL 1;
COMP "CPUvga<5>" LOCATE = SITE "P102" LEVEL 1;
COMP "CPUvga<6>" LOCATE = SITE "P96" LEVEL 1;
COMP "CPUvga<7>" LOCATE = SITE "P98" LEVEL 1;
COMP "CPUout<0>" LOCATE = SITE "P46" LEVEL 1;
COMP "CPUout<1>" LOCATE = SITE "P47" LEVEL 1;
COMP "CPUout<2>" LOCATE = SITE "P48" LEVEL 1;
COMP "CPUout<3>" LOCATE = SITE "P49" LEVEL 1;
COMP "CPUout<4>" LOCATE = SITE "P50" LEVEL 1;
COMP "CPUout<5>" LOCATE = SITE "P51" LEVEL 1;
COMP "CPUout<6>" LOCATE = SITE "P54" LEVEL 1;
COMP "CPUout<7>" LOCATE = SITE "P55" LEVEL 1;
COMP "CPUreset" LOCATE = SITE "P80" LEVEL 1;
NET "CPUclk_BUFGP/IBUFG" PERIOD = 83.3333333 ns HIGH 50%;
SCHEMATIC END;

