NET "CPUclk"			  LOC = P129  | IOSTANDARD = LVCMOS33 | PERIOD = 12MHz;
 
NET "CPUreset"			LOC = P80   | PULLUP  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;

NET "CPUin[0]"			LOC = P58	| PULLUP  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUin[1]"			LOC = P59	| PULLUP  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUin[2]"			LOC = P60	| PULLUP  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUin[3]"			LOC = P63	| PULLUP  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUin[4]"			LOC = P64	| PULLUP  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUin[5]"			LOC = P68	| PULLUP  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUin[6]"			LOC = P69	| PULLUP  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUin[7]"			LOC = P70	| PULLUP  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;

NET "CPUout[0]"			LOC = P46   | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUout[1]"			LOC = P47	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUout[2]"			LOC = P48	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUout[3]"			LOC = P49	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUout[4]"			LOC = P50	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUout[5]"		 	LOC = P51	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUout[6]"		 	LOC = P54	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUout[7]"			LOC = P55	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;

NET "CPUvga[0]"			LOC = P103	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUvga[1]"			LOC = P104	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUvga[2]" 			LOC = P105	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUvga[3]"		   LOC = P99	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12; 
NET "CPUvga[4]"			LOC = P101	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUvga[5]"			LOC = P102	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUvga[6]"			LOC = P96	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUvga[7]"			LOC = P98	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;

NET "CPUram_a[0]"			LOC = P110	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUram_a[1]"			LOC = P111	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUram_a[2]"			LOC = P112	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUram_a[3]"			LOC = P113	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUram_a[4]"			LOC = P114	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUram_a[5]"			LOC = P115	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUram_a[6]"			LOC = P116	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUram_a[7]"			LOC = P117	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;

NET "CPUram_we[0]"			LOC = P141	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUram_we[1]"			LOC = P143	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUram_we[2]"			LOC = P138	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUram_we[3]"			LOC = P139	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUram_we[4]"			LOC = P134 	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUram_we[5]"			LOC = P135	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUram_we[6]"			LOC = P130	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUram_we[7]"			LOC = P132	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;

NET "CPUram_wy[0]"			LOC = P140	| PULLUP  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUram_wy[1]"			LOC = P142	| PULLUP  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUram_wy[2]"			LOC = P91	| PULLUP  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUram_wy[3]"			LOC = P131	| PULLUP  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUram_wy[4]"			LOC = P126	| PULLUP  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUram_wy[5]"			LOC = P127	| PULLUP  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUram_wy[6]"			LOC = P123	| PULLUP  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUram_wy[7]"			LOC = P125	| PULLUP  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;

NET "CPUram_clk"			LOC = P124	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;

NET "CPUrom_a[0]"				LOC = P31	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12; 
NET "CPUrom_a[1]"				LOC = P32	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12; 
NET "CPUrom_a[2]"				LOC = P28	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUrom_a[3]"				LOC = P30	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUrom_a[4]"				LOC = P27	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUrom_a[5]"				LOC = P29	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12; 
NET "CPUrom_a[6]"				LOC = P24	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUrom_a[7]"				LOC = P25	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUrom_a[8]"				LOC = P19	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUrom_a[9]"				LOC = P21	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUrom_a[10]"			LOC = P18	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12; 

NET "CPUrom_ir[0]"			LOC = P20	| PULLUP  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUrom_ir[1]"			LOC = P15	| PULLUP  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUrom_ir[2]"			LOC = P16	| PULLUP  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUrom_ir[3]"			LOC = P12	| PULLUP  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUrom_ir[4]"			LOC = P13	| PULLUP  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12; 

NET "CPUrom_db[0]"			LOC = P10 	| PULLUP  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12; 
NET "CPUrom_db[1]"			LOC = P11 	| PULLUP  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUrom_db[2]"			LOC = P7 	| PULLUP  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUrom_db[3]"			LOC = P8		| PULLUP  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUrom_db[4]"			LOC = P3		| PULLUP  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUrom_db[5]"			LOC = P5 	| PULLUP  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUrom_db[6]"			LOC = P4		| PULLUP  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPUrom_db[7]"			LOC = P6		| PULLUP  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;